*{
  font-family: Arial;
  background-color: #0066ff;
}

h1{
  font-size: 100px;
  color: white;
  border-style: solid;
  text-align: center;
  margin-bottom: 0px;
}

.intro{
  text-align: center;
  font-size: 20px;
}

h2{
  font-size: 50px;
  border-style: dashed;
  color: white;
  text-align: center
}
